/*==============================
** 	Navbar
==============================*/
.nav-area {
	position: absolute;
	left: 0;
	top: 10px;
	width: 100%;
	z-index: 2;
}

.nav-area.nav-fixed {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	z-index: 9;
	background: #000;
	padding-top: 8px;
	padding-bottom: 15px;
}

.nav-area .logo {
	text-transform: uppercase;
	font-size: 26px;
	font-weight: 900;
	color: white;
}

.nav-area ul {
	text-align: right;
	margin-top: 10px;
}

.nav-area ul li {
	padding: 0;
	margin: 0;
	display: inline-block;
	position: relative;
}

ul li::before {
	position: absolute;
	right: 0;
	bottom: 20px;
	width: 10px;
	height: 10px;
	content: '';
	border-bottom: 2px solid #ddd;
	border-right: 2px solid #ddd;
	visibility: hidden;
	opacity: 0;
	transition: .5s ease-in;
}

 ul li::after {
	position: absolute;
	left: 0px;
	top: 20px;
	width: 10px;
	height: 10px;
	content: '';
	border-top: 2px solid #ddd;
	border-left: 2px solid #ddd;
	visibility: hidden;
	opacity: 0;
	transition: .5s ease-in;
}

.nav-area ul li a {
	padding: 5px 15px;
	text-transform: uppercase;
	color: white;
	font-weight: 400;
	font-size: 14px;
	position: relative;
}

 ul li a::before {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 10px;
	height: 10px;
	border-bottom: 2px solid #ddd;
	border-right: 2px solid #ddd;
	content: '';
	visibility: hidden;
	opacity: 0;
	transition: .5s ease-in;
}

ul li a::after {
	position: absolute;
	left: 0;
	top: 0;
	width: 10px;
	height: 10px;
	border-top: 2px solid #ddd;
	content: '';
	border-left: 2px solid #ddd;
	visibility: hidden;
	opacity: 0;
	transition: .5s ease-in;
}

 ul li a.active::after {
	visibility: visible;
	opacity: 1;
}

 ul li a.active::before {
	visibility: visible;
	opacity: 1;
}

 ul li:hover::after {
	visibility: visible;
	opacity: 1;
	top: 0;
}

 ul li:hover::before {
	visibility: visible;
	opacity: 1;
	bottom: -4px;
}